/* .form{
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 40px;
    margin: 80px 50px 90px 350px;
    align-items: center;
    flex: 80px;

    border-radius: 29px;
    background-color: brown;
    text-size-adjust: 10px;
    color: azure;

}
.inputbox{
 
    width: 50%;
    height: 10%;
    padding: auto;
    color: black;
    text-align: 70px;
    margin-top: 89px;
    margin-bottom: 90px;

}
.button{
    background-color: green;
}
.heading{

    padding: 1px;
    size: 20ch;
    font-size: 30px;
} */