/* .form{

    height: 900px;
    width: 600px;
    border-radius: 30px;
    display: flex;
 
    flex-direction: column;
   
}
.heading{
  
    padding: 1px;
    size: 20ch;
    font-size: 30px;

}
.field{
    height: 4%;
    width: 40%;
    padding: 0px;
  
    text-align: left;
}
.head{

    flex-direction: column;
    font-size: large;
} */